@charset "utf-8";

/* 나눔스퀘어 EB */
@font-face {
	font-family: 'NanumSquareEB';
	font-weight: 800;
	src: url('../font/NanumSquareEB.woff') format('woff');
}

/* 나눔고딕 EB */
@font-face {
	font-family: 'NanumGothicEB';
	font-weight: 800;
	src: url('../font/NanumGothicExtraBold.woff') format('woff');
}

/* CookieRunR */
@font-face {
	font-family: 'CookieRunR';
	font-weight: 400;
	src: url('../font/CookieRun-Regular.woff') format('woff');
}

/* EngBold */
@font-face {
	font-family: 'EngBold';
	font-weight: 400;
	src: url('../font/Eng-Bold.otf') format('opentype');
}

/* Print */
@font-face {
	font-family: 'Print';
	font-weight: 400;
	src: url('../font/PrintRegular_otf.otf') format('woff');
}

em {font-style: normal;}


/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block;border:0;}
table{width:100%;border-collapse:collapse;border-spacing:0}

fieldset,img,iframe{border:0}
img{vertical-align:top}
ul,ol{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%}
caption,legend{display:none}
a{cursor:pointer;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a:link,a:visited,a:active,a:hover{color:#333;text-decoration:none}
input[type="text"]::-ms-clear {display: none;}
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.hidden{display: none;}
.disable{pointer-events: none;}

.my-cursor * {
	cursor: none !important;
}


/* layout */
*{
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;

}
body {
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;
}
#wrap {
	width:100%;
	height:100%;
}
#container {
	width:100%;
	overflow:hidden;
}
#game-content {
	position:relative;
	width: 1280px;
	height: 635px;
	overflow:hidden
}

.button {
	cursor: pointer;
}
.button:not(.ignore) {
	cursor: pointer;
	transition: transform 0.4s;
}
.button:not(.ignore):hover {
	transform: scale(1.05);
}
.button:not(.ignore).down {
	transform: scale(1.05);
}

#animation_container {
	position: absolute;
	left:0;
	top:0;
	width: 1280px;
	height: 635px;
	pointer-events: none;
	z-index: 999;
}