@charset "utf-8";

#background {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
}

#ending {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
}

#ending .restart-btn {
   position: absolute;
   left: 970px;
   bottom: 25px;
   width: 262px;
   height: 73px;
   background: url('../images/restart_btn.png') no-repeat;
   background-size: 100%;
   cursor: pointer;
}