@charset "utf-8";


#game {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 9999;
}

#game .blind-con {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 999;
}


#game .map {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
}

#game .map .map-img > img {
   position: absolute;
   top: -85px;
}
#game .map .map-img > img:nth-child(1) {
   left: 0px;
}
#game .map .map-img > img:nth-child(2) {
   left: 1279px;
}
#game .map .map-img > img:nth-child(3) {
   left: 2558px;
}
#game .map .map-img > img:nth-child(4) {
   left: 3837px;
}
#game .map .map-img > img:nth-child(5) {
   left: 5116px;
}
#game .map .map-img > img:nth-child(6) {
   left: 6395px;
}
#game .map .map-img > img:nth-child(7) {
   left: 7674px;
}
#game .map .map-img > img:nth-child(8) {
   left: 8953px;
}
#game .map .map-img > img:nth-child(9) {
   left: 10232px;
}
#game .map .map-img > img:nth-child(10) {
   left: 11511px;
}
#game .map .map-img > img:nth-child(11) {
   left: 12790px;
}
#game .map .map-img > img:nth-child(12) {
   left: 14069px;
}

#game .character {
   position: absolute;
   left: 0;
   top: 0;
}
#game .character .char {
   position: absolute;
   left: -75px;
   top: -203px;
   width: 150px;
   height: 250px;
   /* border: solid 1px red; */
}
#game .character .area {
   position: absolute;
   left: -52px;
   top: -183px;
   width: 103px;
   height: 229px;
   /* border: solid 1px red; */
}

#game .character .bottom {
   position: absolute;
   left: -10px;
   top: 49px;
   width: 20px;
   height: 20px;
   /* border: solid 1px blue; */
}
#game .character .left {
   position: absolute;
   left: -37px;
   top: -12px;
   width: 20px;
   height: 20px;
   /* border: solid 1px blue; */
}
#game .character .right {
   position: absolute;
   left: 9px;
   top: -12px;
   width: 20px;
   height: 20px;
   /* border: solid 1px blue; */
}

#game .map .ground {
   position: absolute;
   /* border: solid 1px red; */
}
#game .map .ground:nth-child(1) {
   left: 0;
   top: 444px;
   width: 1408px;
   height: 350px;
}
#game .map .ground:nth-child(2) {
   left: 1409px;
   top: 322px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(3) {
   left: 1499px;
   top: 444px;
   width: 259px;
   height: 350px;
}
#game .map .ground:nth-child(4) {
   left: 1850px;
   top: 357px;
   width: 304px;
   height: 433px;
}
#game .map .ground:nth-child(5) {
   left: 2243px;
   top: 444px;
   width: 223px;
   height: 350px;
}
#game .map .ground:nth-child(6) {
   left: 2467px;
   top: 322px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(7) {
   left: 2557px;
   top: 444px;
   width: 467px;
   height: 350px;
}
#game .map .ground:nth-child(8) {
   left: 3156px;
   top: 444px;
   width: 158px;
   height: 350px;
}
#game .map .ground:nth-child(9) {
   left: 3489px;
   top: 444px;
   width: 231px;
   height: 350px;
}
#game .map .ground:nth-child(10) {
   left: 3720px;
   top: 322px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(11) {
   left: 3810px;
   top: 444px;
   width: 308px;
   height: 350px;
}
#game .map .ground:nth-child(12) {
   left: 4251px;
   top: 444px;
   width: 408px;
   height: 350px;
}
#game .map .ground:nth-child(13) {
   left: 4816px;
   top: 444px;
   width: 727px;
   height: 350px;
}
#game .map .ground:nth-child(14) {
   left: 5627px;
   top: 374px;
   width: 305px;
   height: 419px;
}
#game .map .ground:nth-child(15) {
   left: 6053px;
   top: 304px;
   width: 305px;
   height: 419px;
}
#game .map .ground:nth-child(16) {
   left: 6486px;
   top: 444px;
   width: 183px;
   height: 350px;
}
#game .map .ground:nth-child(17) {
   left: 6670px;
   top: 322px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(18) {
   left: 6760px;
   top: 444px;
   width: 863px;
   height: 350px;
}
#game .map .ground:nth-child(19) {
   left: 7760px;
   top: 364px;
   width: 226px;
   height: 350px;
}
#game .map .ground:nth-child(20) {
   left: 8216px;
   top: 364px;
   width: 167px;
   height: 350px;
}
#game .map .ground:nth-child(21) {
   left: 8384px;
   top: 244px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(22) {
   left: 8474px;
   top: 364px;
   width: 208px;
   height: 350px;
}
#game .map .ground:nth-child(23) {
   left: 8683px;
   top: 444px;
   width: 1195px;
   height: 350px;
}
#game .map .ground:nth-child(24) {
   left: 9879px;
   top: 329px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(25) {
   left: 9969px;
   top: 444px;
   width: 722px;
   height: 350px;
}
#game .map .ground:nth-child(26) {
   left: 10774px;
   top: 374px;
   width: 306px;
   height: 420px;
}
#game .map .ground:nth-child(27) {
   left: 11081px;
   top: 302px;
   width: 306px;
   height: 490px;
}
#game .map .ground:nth-child(28) {
   left: 11505px;
   top: 444px;
   width: 334px;
   height: 350px;
}
#game .map .ground:nth-child(29) {
   left: 11840px;
   top: 329px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(30) {
   left: 11929px;
   top: 444px;
   width: 1144px;
   height: 350px;
}
#game .map .ground:nth-child(31) {
   left: 13074px;
   top: 366px;
   width: 225px;
   height: 430px;
}
#game .map .ground:nth-child(32) {
   left: 13530px;
   top: 366px;
   width: 465px;
   height: 430px;
}
#game .map .ground:nth-child(33) {
   left: 13997px;
   top: 444px;
   width: 255px;
   height: 350px;
}
#game .map .ground:nth-child(34) {
   left: 14253px;
   top: 329px;
   width: 89px;
   height: 471px;
}
#game .map .ground:nth-child(35) {
   left: 14343px;
   top: 444px;
   width: 1000px;
   height: 350px;
}



#game .items .item {
   position: absolute;
   width: 54px;
   height: 65px;
   background: url('../images/item.png') no-repeat;
   background-size: 100%;
}
#game .items .item:nth-child(1) {
   left: 1978px;
   top: 69px;
}
#game .items .item:nth-child(2) {
   left: 2347px;
   top: 178px;
}
#game .items .item:nth-child(3) {
   left: 3223px;
   top: 214px;
}
#game .items .item:nth-child(4) {
   left: 3297px;
   top: 145px;
}
#game .items .item:nth-child(5) {
   left: 3397px;
   top: 97px;
}
#game .items .item:nth-child(6) {
   left: 3483px;
   top: 145px;
}
#game .items .item:nth-child(7) {
   left: 3568px;
   top: 214px;
}
#game .items .item:nth-child(8) {
   left: 5712px;
   top: 134px;
}
#game .items .item:nth-child(9) {
   left: 6170px;
   top: 65px;
}
#game .items .item:nth-child(10) {
   left: 6680px;
   top: 109px;
}
#game .items .item:nth-child(11) {
   left: 6957px;
   top: 204px;
}
#game .items .item:nth-child(12) {
   left: 8395px;
   top: 87px;
}
#game .items .item:nth-child(13) {
   left: 9904px;
   top: 134px;
}
#game .items .item:nth-child(14) {
   left: 10061px;
   top: 226px;
}
#game .items .item:nth-child(15) {
   left: 10900px;
   top: 109px;
}
#game .items .item:nth-child(16) {
   left: 11185px;
   top: 39px;
}
#game .items .item:nth-child(17) {
   left: 11647px;
   top: 204px;
}
#game .items .item:nth-child(18) {
   left: 12716px;
   top: 204px;
}
#game .items .item:nth-child(19) {
   left: 13201px;
   top: 156px;
}
#game .items .item:nth-child(20) {
   left: 13286px;
   top: 69px;
}
#game .items .item:nth-child(21) {
   left: 13378px;
   top: 17px;
}
#game .items .item:nth-child(22) {
   left: 13515px;
   top: 69px;
}
#game .items .item:nth-child(23) {
   left: 13577px;
   top: 156px;
}
#game .items .item:nth-child(24) {
   left: 14107px;
   top: 226px;
}






/* #game .audio-warnning {
   position: absolute;
   left: 28px;
   top: 190px;
   width: 587px;
   height: 373px;
   background: url("../images/audio_warnning.png") 0% 0% / 100% no-repeat;
   background-size: 100%;
}

#game .pagination {
   position: absolute;
   right: 20px;
   top: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
#game .pagination.type2 {
   right: 52px;
   top: 65px;
}
#game .pagination .page {
   width: 29px;
   height: 29px;
   background: url('../images/page_icon.png') no-repeat;
   background-size: 100%;
   margin-left: 8px;
}
#game .pagination .page.active {
   background-position-y: 100%;
}


#game .quiz-con {
   position: absolute;
   left: 0;
   top: 0;
   width: 705px;
   height: 100%;
   background-color: #C9EEF9;
   display: flex;
   align-items: center;
   justify-content: center;
}

#game .quiz {
   position: relative;
   width: 646px;
   height: 573px;
   background-color: #fff;
   box-shadow: 1px 2px 6px rgba(99,161,177,0.6);
   border-radius: 15px;
}

#game .quiz .title {
   position: relative;
   padding: 25px;
   font-family: 'NanumSquareEB';
   font-size: 40px;
   z-index: 9;
   text-align: justify;
}
#game .quiz .title .o {
   display: inline-block;
   width: 31px;
   height: 31px;
   background: url("../images/o.png") 0% 0% / 100% no-repeat;
   vertical-align: middle;
   position: relative;
   top: -3px;
}

#game .quiz .title .x {
   display: inline-block;
   width: 26px;
   height: 26px;
   background: url("../images/x.png") 0% 0% / 100% no-repeat;
   vertical-align: middle;
   position: relative;
   top: -3px;
}

#game .quiz .title .audio-play {
   position: absolute;
   right: 90px;
   top: 82px;
   width: 59px;
   height: 52px;
   background: url('../images/title_audio_play.png') no-repeat;
   background-size: 100%;
   cursor:pointer;
}
#game .quiz .title .audio-play.playing {
   background-position-y: 100%;
}
#game .quiz .title .audio-stop {
   position: absolute;
   right: 35px;
   top: 86px;
   width: 45px;
   height: 45px;
   background: url('../images/title_audio_stop.png') no-repeat;
   background-size: 100%;
   cursor:pointer;
}

#game .quiz .enter-btn {
   position: absolute;
   right: 15px;
   bottom: 10px;
   width: 151px;
   height: 49px;
   background: url('../images/enter_btn.png') no-repeat;
   background-size: 100%;
}
#game.type2 .quiz .enter-btn {
   bottom: 10px;
   width: 100px;
   height: 48px;
   background: url('../images/enter_btn2.png') no-repeat;
   background-size: 100%;
}
#game.type2 .quiz .enter-btn.finish {
   bottom: 10px;
   width: 100px;
   height: 48px;
   background: url('../images/comp_btn.png') no-repeat;
   background-size: 100%;
}
#game .quiz .enter-btn.down {
   background-position-y: 100%;
}

#game .quiz .thumb {
   position: absolute;
   top: 160px;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
#game .thumb.left {
   left: 35px;
   justify-content: flex-start;
   top: 170px;
}

#game .quiz .word {
   position: absolute;
   left: 0;
   top: 195px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
#game .quiz .word > span {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 350px;
   height:100px;
   background-color: #F8ECFB;
   border-radius: 20px;
   font-family: 'EngBold';
   font-size: 50px;
}

#game .quiz .word-box {
   position: absolute;
   left: 390px;
   top: 156px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}
#game .quiz .word-box.hor {
   flex-direction: row;
   top: 180px;
   left:0;
}
#game .quiz .word-box > div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 220px;
   height: 80px;
   background-color: #F8ECFB;
   border-radius: 20px;
   font-family: 'EngBold';
   font-size: 50px;
   margin: 12px 0;
}
#game .quiz .word-box.hor > div {
   margin: 0 37px;
}
#game .quiz .word-box.small {
   top: 125px;
}
#game .quiz .word-box.small > div {
   height: 70px;
   margin: 6px 0;
}
#game .quiz .word-box.green > div{
   background-color: #D8F9EA;
}
#game .quiz .word-box.green2 > div{
   background-color: #E4F3C4;
}
#game .quiz .word-box.pink > div{
   background-color: #FFE9F3;
}
#game .quiz .word-box.bora > div{
   background-color: #F0EEFF;
}
#game .quiz .word-box.bora2 > div{
   background-color: #F9ECFF;
}
#game .quiz .word-box.yellow > div{
   background-color: #FBEBD0;
}
#game .quiz .word-box.blue > div{
   background-color: #E2F5FF;
}


#game .quiz .choice-ox {
   position: absolute;
   left: 0;
   top: 424px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}
#game .quiz .choice-ox .choice {
   width: 90px;
   height: 90px;
   cursor: pointer;
   margin: 0 30px;
}
#game .quiz .choice-ox .choice.o {
   background: url("../images/o_btn.png") 0% 0% / 100% no-repeat;
}

#game .quiz .choice-ox .choice.x {
   background: url("../images/x_btn.png") 0% 0% / 100% no-repeat;
}

#game .quiz .choice-ox .choice.active {
   background-position-y: 50%;
}

#game:not(.type2) .quiz .choice-ox .choice.correct {
   background-position-y: 100%;
}


#game .quiz .choice-check {
   position: absolute;
   left: 0;
   top: 405px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}
#game .quiz .choice-check.ver {
   top: 161px;
   left: 312px;
   flex-direction: column;
   align-items: flex-start;
}
#game .quiz .choice-check.ver.small {
   top: 131px;
}

#game .quiz .choice-check.free {
   left: 0;
   top: 0;
   display: block;
}
#game .quiz .choice-check .choice {
   width: 65px;
   height: 66px;
   cursor: pointer;
   margin: 0 118px;
   background: url("../images/check_btn.png") 0% 0% / 100% no-repeat;
}
#game .quiz .choice-check.free .choice {
   position: absolute;
   left: 0;
   top: 0;
   margin: 0;
}
#game .quiz .choice-check.ver .choice {
   margin: 18px 0;
}
#game .quiz .choice-check.small .choice {
   width: 54px;
   height: 54px;
   margin: 13px 0;
}

#game .quiz .choice-check .choice.active {
   background-position-y: 50%;
}

#game:not(.type2) .quiz .choice-check .choice.correct {
   background-position-y: 100%;
}

#game .quiz .choice-check .choice > span {
   margin-left: 80px;
   font-family: 'EngBold';
   font-size: 65px;
   position: relative;
   top: -5px;
}


#game .quiz .choice-num {
   position: absolute;
   left: -55px;
   top: 416px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}
#game .quiz .choice-num .choice {
   position: relative;
   width: 40px;
   height: 40px;
   cursor: pointer;
   margin: 0 118px;
   font-family: 'CookieRunR';
   font-weight: 700;
   font-size: 28px;
   color: #fff;
   text-align: center;
   line-height: 40px;
   background-color: #BFC6DE;
   border-radius: 50%;
}
#game .quiz .choice-num.three .choice {
   margin: 0 85px;
}
#game .quiz .choice-num .choice:before {
   position: absolute;
   left: -10px;
   top: -30px;
   content: '';
   display: none;
   width: 67px;
   height: 62px;
   background: url('../images/chek_icon.png') no-repeat;
   background-size: 100%;
   pointer-events: none;
}
#game .quiz .choice-num .choice.active:before {
   display: block;
}
#game:not(.type2) .quiz .choice-num .choice.correct:before {
   display: block;
   background-position-y: 100%;
}

#game .quiz .choice-num.ver {
   left: 95px;
   top: 138px;
   flex-direction: column;
}
#game .quiz .choice-num.ver .choice {
   margin: 33px 0;
}

#game .quiz .choice-circle .choice {
   position: absolute;
   left: 242px;
   top: 191px;
   width: 158px;
   height: 61px;
   border:solid 7px #00a9f4;
   border-radius: 50px;
   cursor: pointer;
   opacity: 0;
}
#game .quiz .choice-circle .choice.active {
   opacity: 1;
}

#game .quiz .choice-circle .choice.correct {
   border-color: #F52323;
}

#game .quiz .num-audio {
   position: absolute;
   left: 31px;
   top: 399px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   pointer-events:none;
}
#game .quiz .num-audio.three {
   left: 24px;
}
#game .quiz .num-audio .audio-btn {
   width: 104px;
   height: 77px;
   cursor: pointer;
   margin: 0 84px;
   background: url("../images/speaker_btn.png") no-repeat;
   background-size: 100%;
   pointer-events: all;
}

#game .quiz .num-audio.three .audio-btn {
   margin: 0 53px;
}
#game .quiz .num-audio .audio-btn.playing {
   background-position-y: 100%;
}

#game .quiz .num-audio.ver {
   left: 185px;
   top: 135px;
   flex-direction: column;
}
#game .quiz .num-audio.ver .audio-btn {
   margin: 15px 0;
}

#game .quiz .free-audio {
   position: absolute;
   left: 5px;
   top: 160px;
   width: 100%;
   pointer-events:none;
}
#game .quiz .free-audio .audio-btn {
   position: absolute;
   left: 0;
   top: 0;
   width: 62px;
   height: 46px;
   cursor: pointer;
   background: url("../images/speaker_btn.png") no-repeat;
   background-size: 100%;
   pointer-events: all;
}
#game .quiz .free-audio.large .audio-btn {
   width: 75px;
   height: 53px;
}
#game .quiz .free-audio .audio-btn.playing {
   background-position-y: 100%;
}

#game .quiz .drawline-audio {
   position: absolute;
   left: 513px;
   top: 150PX;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   pointer-events:none;
}
#game .quiz .drawline-audio.hor {
   flex-direction: row;
}
#game .quiz .drawline-audio .audio-btn {
   width: 104px;
   height: 77px;
   cursor: pointer;
   margin: 45px 0;
   background: url("../images/speaker_btn.png") no-repeat;
   background-size: 100%;
   pointer-events: all;
}
#game .quiz .drawline-audio.hor .audio-btn {
   margin: 0 50px;
}
#game .quiz .drawline-audio .audio-btn.playing {
   background-position-y: 100%;
}
#game .quiz .drawline-audio.small .audio-btn {
   width: 62px;
   height: 44px;
}


#game .quiz .drawline-con {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#game .quiz .drawline-con .line-item {
   position: absolute;
   left: 0;
   top: 0;
   width:30px;
   height:30px;
   cursor:pointer;
}
#game .quiz .drawline-con .line-item:before {
   content: '';
   position: absolute;
   left: 4px;
   top: 4px;
   width:21px;
   height:20px;
   border-radius:50%;
   background: url('../images/drawline_point.png') no-repeat;
   background-size: 100%;
}

#game .quiz .drawline-con .line-start .line-item:nth-child(1) {
   left: 203px;
   top: 219px;
}
#game .quiz .drawline-con .line-start .line-item:nth-child(2) {
   left: 203px;
   top: 385px;
}

#game .quiz .drawline-con .line-end .line-item:nth-child(1) {
   left: 484px;
   top: 219px;
}
#game .quiz .drawline-con .line-end .line-item:nth-child(2) {
   left: 484px;
   top: 385px;
}


#game .quiz .draggable-con {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

#game .quiz .draggable-con .drag-area,
#game .quiz .draggable-con .drag-item {
   position: absolute;
   left: 0;
   top: 0;
}

#game .quiz .draggable-con .drag-item { 
   cursor: move;
}
#game .quiz .draggable-con .drag-item.active{
   cursor: default;
}

#game .quiz .draggable-con .drag-area .area,
#game .quiz .draggable-con .drag-item .area {
   position: absolute;
   left: 25%;
   top: 25%;
   display: inline-block;
   width: 50%;
   height: 50%;
}
#game .quiz .draggable-con .drag-area.active {
   cursor: pointer;
}
#game .quiz .draggable-con .drag-item.active {
   display: none;
}




#game .quiz .input-num {
   position: absolute;
   left: 0;
   top: 365px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}
#game .quiz .input-num.ver {
   flex-direction: column;
}

#game .quiz .input-num .input {
   width: 65px;
   height: 66px;
   cursor: pointer;
   margin: 0 70px;
   background: url("../images/check_btn.png") 0% 0% / 100% no-repeat;
}
#game .quiz .input-num.ver .input {
   margin: 18px 0;
}

#game .quiz .input-num .input > input {
   width: 100%;
   height: 100%;
   text-align: center;
   font-size: 40px;
   background: transparent;
   outline: transparent;
   border: none;
   font-family: 'NanumSquareEB';
}

#game .quiz .choice-input {
   position: absolute;
   left: 50px;
   top: 390px;
}
#game .quiz .choice-input .input {
   display: inline-block;
   width: 550px;
   height: 109px;
   background: url('../images/input_line.png') repeat-x;
}
#game .quiz .choice-input .input input[type='text'] {
   width: 100%;
   height: 114px;
   text-align: center;
   font-family: 'Print';
   font-size: 90px;
   border: none;
   background: transparent;
   position: relative;
   top: -14px;
   outline: none;
}
#game .quiz .input-num.large input[type='text'] {
   font-size: 65px;
}
#game .quiz .input-num.large .input {
   width: 85px;
   height: 85px;
   margin: 0 69px;
}
#game .quiz .choice-input .input.correct input[type='text'] {
   color: red;
} 

#game .quiz .input-ver {
   position: absolute;
   left: 468px;
   top: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
#game .quiz .input-hor {
   position: absolute;
   left: 39px;
   top: 400px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}
#game .quiz .input-ver .input {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 97px;
   background: url('../images/input_line.png') repeat-x;
   margin: 37px 0;
}
#game .quiz .input-hor .input {
   position: relative;
   display: inline-block;
   width: 150px;
   height: 97px;
   background: url('../images/input_line.png') repeat-x;
   margin: 0 67px;
   background-size: 100% 100%;
}
#game .quiz .input-ver .input input[type='text'],
#game .quiz .input-hor .input input[type='text'] {
   position: relative;
   width: 100%;
   height: 104px;
   text-align: center;
   font-family: 'Print';
   font-size: 90px;
   border: none;
   background: transparent;
   position: relative;
   top: -10px;
   outline: none;
   z-index: 2;
}
#game .quiz .input-ver .input.correct input[type='text'],
#game .quiz .input-hor .input.correct input[type='text'] {
   color: red;
}
#game .quiz .input-ver .input .guide,
#game .quiz .input-hor .input .guide {
   position: absolute;
   display: block;
   left: 0;
   top: -10px;
   width: 100%;
   height: 100%;
   pointer-events: none;
   font-family: 'Print';
   font-size: 90px;
   text-align: center;
   color: #ccc;
}

#game .quiz .word-hor {
   position: absolute;
   left: 38px;
   top: 171px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
}

#game .quiz .word-hor > span {
   font-family: 'EngBold';
   font-size: 90px;
   margin: 0 81px;
}

#game .quiz .result {
   position: absolute;
   left: 79px;
   top: 36px;
   width: 485px;
   height: 490px;
   pointer-events: none;
}
#game .quiz .result.o {
   background: url('../images/result_o.png') no-repeat center;
}
#game .quiz .result.x {
   background: url('../images/result_x.png') no-repeat center;
}


#decorate-loading {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: url('../images/decorate_loading_bg.png') no-repeat;
   z-index: 8888;
}
#decorate-loading .loading-con {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#decorate-loading .progress {
   position: relative;
   width: 812px;
   height: 39px;
   background: url('../images/loading_bg.png') no-repeat;  
   background-size: 100%;
   margin-top: 205px;
}
#decorate-loading .progress .bar {
   position: absolute;
   left: 5px;
   top: 4px;
   width: 802px;
   height: 30px;
   background: url('../images/loading_bar.png') no-repeat;
}
#decorate-loading .text {
   font-family: 'NanumSquareEB';
   color: #35458D;
   font-size: 44px;
}

#decorate {
   position: absolute;
   left: 17px;
   top: 19px;
   width: 668px;
   height: 596px;
   background: url('../images/decorate_bg.png') no-repeat;
}

#decorate .title {
   position: absolute;
   left: 0;
   top: 33px;
   width: 100%;
   text-align: center;
}
#decorate .title > img {
   width: auto;
   height: 100px;
}
#decorate .items {
   position: absolute;
   left: 0;
   top: 135px;
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
#decorate .items .item {
   width: 165px;
   margin: 8px 0;
   padding: 0 10px;
   cursor: pointer;
}

#decorate .items .item .icon {
   margin: 0 auto;
   width: 120px;
   height: 118px;
   border-radius: 36px;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
}
#decorate .items .item .icon > img{
   transform: scale(0.5);
}
#decorate .items .item.active .icon {
   background-color: #A370C5;
}
#decorate .items .item .name {
   margin-top: 10px;
   text-align: center;
   font-family: 'CookieRunR';
   font-weight: 700;
   font-size: 28px;
}
#decorate .enter-btn {
   position: absolute;
   left: 271px;
   bottom: 30px;
   width: 121px;
   height: 49px;
   background: url('../images/decorate_enter.png') no-repeat;
   background-size: 100%;
}
#decorate .enter-btn.down {
   background-position-y: 100%;
}
#decorate .blind-con {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   z-index: 999;
} */